<html>
    <head>
           This apache webserver 
    </head>
    <body>
      <h1> welcome to {{ inst_name }}  </h1>
      
      <div>
           server os is = {{ ansible_os_family }}
           server ip = {{ ansible_hostname}}
      </div>
   
    </body>
</html>
